export GPG_TTY=$(tty)
export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8

export ZSH="{{ ansible_env.HOME }}/.oh-my-zsh
ZSH_THEME="spaceship"
COMPLETION_WAITING_DOTS="true"
DISABLE_UNTRACKED_FILES_DIRTY="true"
ZSH_COLORIZE_TOOL=chroma
ZSH_COLORIZE_STYLE="solarized-light"
source ~/.oh-my-zsh/custom/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh

# Standard plugins can be found in ~/.oh-my-zsh/plugins/*
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Add wisely, as too many plugins slow down shell startup
plugins=(
    adb
    aws
    colorize
    docker
    gem
    git
    git-extras
    golang
    iterm2
    kubectl
    npm
    osx
    pip
    pipenv
    python
    rvm
    sudo
    terraform
    tmux
    vscode
    web-search
    wd
    zsh-autosuggestions
    zsh-completions
    zsh-syntax-highlighting
)

source $ZSH/oh-my-zsh.sh
source ~/.oh-my-zsh/custom/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh
eval $(gh completion -s zsh)
export PATH=$PATH:~/.npm-global/bin

test -e "{{ ansible_env.HOME }}/.iterm2_shell_integration.zsh" && source "{{ ansible_env.HOME }}/.iterm2_shell_integration.zsh"
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

# Path exports
export PATH="/usr/local/sbin:$PATH"
export PATH="/usr/local/opt/python/libexec/bin:$PATH"
export PATH="$PATH:$(go env GOPATH)/bin"
export PATH="$PATH:{{ ansible_env.HOME }}/Documents/platform-tools"

# General exports
export GROOVY_HOME=/usr/local/opt/groovy/libexec

# Aliases
alias kali="docker exec -it kali"
alias cat="ccat"

export SDKMAN_DIR="{{ ansible_env.HOME }}/.sdkman"
[[ -s "{{ ansible_env.HOME }}/.sdkman/bin/sdkman-init.sh" ]] && source "{{ ansible_env.HOME }}/.sdkman/bin/sdkman-init.sh"
export SDKMAN_OFFLINE_MODE=false
